
// Tables
// -------------------

table {
	width: 100%;
	margin: 1em 0;

	th {
		padding: 0.5em;
		border: 1px solid darken($baseColor, 15%);
		background: darken($baseColor, 5%);
		text-align: left;
		font-weight: bold;
	}
	td {
		padding: 0.5em;
		background: lighten($baseColor, 3.5%);
		border: 1px solid darken($baseColor, 15%);
	}
}
