//
// Global Settigns
// --------------------------------------------------

* {
	box-sizing: border-box;
}
body {
	background: $baseColor;
	&>.container {
		min-height: 100vh;
	}
}
.container {
	@include container();
}

.error {
	color: $errorColor; 
}

.success { 
	color: $successColor; 
}